<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- third party css -->
    <link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedHeader.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedColumns.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>

    <link href="/css/vendor/quill.bubble.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/quill.core.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/quill.snow.css" rel="stylesheet" type="text/css" />
    
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  
  <body id="app" class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid" data-rightbar-onstart="true">
    <!-- bundle -->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/vendor/quill.min.js"></script>

    <!-- third party js -->
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="/js/vendor/buttons.html5.min.js"></script>
    <script src="/js/vendor/buttons.flash.min.js"></script>
    <script src="/js/vendor/buttons.print.min.js"></script>
    <script src="/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/js/vendor/dataTables.select.min.js"></script>
    <script src="/js/vendor/fixedColumns.bootstrap5.min.js"></script>
    <script src="/js/vendor/fixedHeader.bootstrap5.min.js"></script>
    <!-- third party js ends -->
  </body>

</html>
