<script>
  import StartupMixin from '../mixin/StartupMixin.js';

  export default {
    mixins: [StartupMixin],
    data() {
      return {

      }
    },
    mounted() {

    }
  }
</script>

<template>
  <div class="loading authentication-bg" data-layout-config='{"darkMode":false}'>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-4 col-lg-5">
            <div class="card">

              <!-- Logo -->
              <div class="card-header pt-4 pb-4 text-center bg-primary">
                <a href="#">
                  <span><img src="/images/logo-r.png" alt="" height="128" width="128"></span>
                </a>
              </div>

              <div class="card-body p-4">

                <div class="text-center w-75 m-auto">
                  <h4 class="text-dark-50 text-center pb-0 fw-bold">Cadastro</h4>
                  <p class="text-muted mb-4">Você está a um passo de uma comunidade mais conciente e inteligente!</p>
                </div>

                <form action="#">

                  <div class="mb-3">
                    <label for="emailaddress" class="form-label">Nome</label>
                    <input class="form-control" type="text" id="name" required=""
                      placeholder="Fulano da Silva">
                  </div>

                  <div class="mb-3">
                    <label for="emailaddress" class="form-label">Endereço</label>
                    <input class="form-control" type="text" id="name" required=""
                      placeholder="São João, 110, Itoupava Norte - Santa Catarina Brasil">
                  </div>

                  <div class="mb-3">
                    <label for="emailaddress" class="form-label">Endereço de e-mail</label>
                    <input class="form-control" type="email" id="emailaddress" required=""
                      placeholder="Entre seu email">
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <div class="input-group input-group-merge">
                      <input type="password" id="password" class="form-control" placeholder="Entre com sua senha">
                      <div class="input-group-text" data-password="false">
                        <span class="password-eye"></span>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="button" @click="this.$router.push('dashboard')">Tudo pronto</button>
                  </div>

                </form>
              </div> <!-- end card-body -->
            </div>
            <!-- end card -->

          </div> <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end page -->
  </div>
</template>