<script>
  import BarComponent from '@/components/BarComponent.vue';
  import MenuComponent from '@/components/MenuComponent.vue';

  export default {
    mixins: [],
    components: {
      BarComponent,
      MenuComponent
    },
    methods: {
    },
    data() {
      return {
      }
    },
    mounted(){
      let sources = [
          "/js/pages/demo.datatable-init.js"
        ];
    
        for(let source of sources)
        {
            let script = document.createElement('script');
            script.setAttribute("src", source);

            let element = document.querySelector(`script[src="${source}"]`);

            if(element != null)
              element.remove();
            
            document.querySelector('#app').append(script)
        }
    }
  }

</script>

<template>

  <!-- Begin page -->
  <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <menu-component></menu-component>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <bar-component></bar-component>
        <!-- end Topbar -->

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Coletas</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="">
            <table id="basic-datatable" class="table table-centered dt-responsive nowrap w-100">
              <thead class="table-light">
                  <tr>
                      <th>Nome</th>
                      <th>Status</th>
                      <th>Endereço</th>
                      <th>Data</th>
                      <th>Quantia</th>
                      <th>Opções</th>
                  </tr>
              </thead>
          
              <tbody>
                  <tr>
                      <td>
                        <img src="/images/products/garrafa-pet-2l.png" alt="contact-img" title="contact-img"
                        class="rounded me-3" height="48" />
                        <p class="m-0 d-inline-block align-middle font-16">
                          <a href="apps-ecommerce-products-details.html" class="text-body">Garrafa PET 2 litros</a>
                        </p>
                      </td>
                      <td><span class="badge bg-success">Pendente</span></td>
                      <td><span class="endereco">Rua São João, 101, Itoupava Norte - Blumenau Santa Catarina Brasil</span></td>
                      <td>03/12/2023</td>
                      <td>10</td>
                      <td>
                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                        <a href="javascript:void(0);" class="action-icon"> <i
                            class="mdi mdi-square-edit-outline"></i></a>
                      </td>
                  </tr>
              </tbody>
          </table>               
          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->

      <!-- Footer Start -->
      
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


  </div>
</template>

<style>
  .endereco{
    text-wrap: wrap;
  }
</style>