<template>
  <div class="wrapper">
    <bar-component></bar-component>

    <!-- ========== Left Sidebar Start ========== -->
    <menu-component></menu-component>
    <!-- Left Sidebar End -->

    <div class="content-page home-view">
      <div class="content content-page ">
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
              <div class="col-12">
                  <div class="page-title-box">
                    <h4 class="page-title">Meus rendimentos</h4>
                  </div>
              </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-xxl-12">
              <div class="row">
                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-cached me-1"></i>Refresh</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-circle-edit-outline me-1"></i>Edit</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item text-danger"><i
                              class="mdi mdi-delete-outline me-1"></i>Remove</a>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar-sm rounded">
                            <span class="avatar-title bg-primary-lighten h3 my-0 text-primary rounded">
                              <i class="mdi mdi-currency-btc"></i>
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mt-0 mb-1 font-20">R$7,12</h4>
                          <p class="mb-0 text-muted"><i class="mdi mdi-arrow-up-bold text-success"></i> 4% nos ultimos 30 dias
                          </p>
                        </div>
                      </div>

                      <div class="row align-items-end justify-content-between mt-3">
                        <div class="col-sm-6">
                          <h4 class="mt-0 text-muted fw-semibold mb-1">Plástico</h4>
                          <p class="text-muted mb-0">Média 1Kg = R$0,40</p>

                        </div> <!-- end col -->

                        <div class="col-sm-5">
                          <div class="text-end">
                            <div id="currency-btc-chart" data-colors="#727cf5"></div>
                          </div>
                        </div> <!-- end col -->
                      </div>
                    </div> <!-- end card-body -->
                  </div> <!-- end card -->
                </div> <!-- end col -->

                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-cached me-1"></i>Refresh</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-circle-edit-outline me-1"></i>Edit</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item text-danger"><i
                              class="mdi mdi-delete-outline me-1"></i>Remove</a>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar-sm rounded">
                            <span class="avatar-title bg-primary-lighten h3 my-0 text-primary rounded">
                              <i class="mdi mdi-currency-cny"></i>
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mt-0 mb-1 font-20">R$1,10</h4>
                          <p class="mb-0 text-muted"><i class="mdi mdi-arrow-down-bold text-danger"></i> 23% nos ultimos 30 dias
                          </p>
                        </div>
                      </div>

                      <div class="row align-items-end justify-content-between mt-3">
                        <div class="col-sm-6">
                          <h4 class="mt-0 text-muted fw-semibold mb-1">Aluminio</h4>
                          <p class="text-muted mb-0">Média 1Kg = R$5,60</p>

                        </div> <!-- end col -->

                        <div class="col-sm-5">
                          <div class="text-end">
                            <div id="currency-cny-chart" data-colors="#727cf5"></div>
                          </div>
                        </div> <!-- end col -->
                      </div>
                    </div> <!-- end card-body -->
                  </div> <!-- end card -->
                </div> <!-- end col -->

                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-cached me-1"></i>Refresh</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="mdi mdi-circle-edit-outline me-1"></i>Edit</a>
                          <!-- item-->
                          <a href="javascript:void(0);" class="dropdown-item text-danger"><i
                              class="mdi mdi-delete-outline me-1"></i>Remove</a>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar-sm rounded">
                            <span class="avatar-title bg-primary-lighten h3 my-0 text-primary rounded">
                              <i class="mdi mdi-currency-eth"></i>
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mt-0 mb-1 font-20">R$0,00</h4>
                          <p class="mb-0 text-muted"><i class="mdi mdi-arrow-down-bold text-danger"></i> 100% nos ultimos 30 dias
                          </p>
                        </div>
                      </div>

                      <div class="row align-items-end justify-content-between mt-3">
                        <div class="col-sm-6">
                          <h4 class="mt-0 text-muted fw-semibold mb-1">Papelão</h4>
                          <p class="text-muted mb-0">Média 1Kg = R$0,30</p>

                        </div> <!-- end col -->

                        <div class="col-sm-5">
                          <div class="text-end">
                            <div id="currency-eth-chart" data-colors="#727cf5"></div>
                          </div>
                        </div> <!-- end col -->
                      </div>
                    </div> <!-- end card-body -->
                  </div> <!-- end card -->
                </div> <!-- end col -->
              </div> <!-- end row -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- container -->
      </div> <!-- content -->
    </div>
  </div>

</template>

<style>
  body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .wrapper .home-view.content-page {
    margin-left: 40px;
  }

  .home-view.content-page {
    margin-left: 40px;
  }

  .home-view .content-page {
    min-height: unset;
  }
</style>

<script>
  import BarComponent from '@/components/BarComponent.vue';
  import MenuComponent from '@/components/MenuComponent.vue';

  export default {
    name: 'HomeView',
    components: {
      BarComponent,
      MenuComponent
    }
  }
</script>