<script>
  import StartupMixin from '../mixin/StartupMixin.js';

  export default {
    mixins: [StartupMixin],
    data() {
      return {

      }
    },
    mounted() {

    }
  }
</script>

<template>
  <div class="loading authentication-bg" data-layout-config='{"darkMode":false}'>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-4 col-lg-5">
            <div class="card">

              <!-- Logo -->
              <div class="card-header pt-4 pb-4 text-center bg-primary">
                <a href="#/Login">
                  <span><img src="/images/logo-r.png" alt="" height="128" width="128"></span>
                </a>
              </div>

              <div class="card-body p-4">

                <div class="text-center w-75 m-auto">
                  <h4 class="text-dark-50 text-center pb-0 fw-bold">Login</h4>
                  <p class="text-muted mb-4">Recicle, Ganhe, Coopere.</p>
                </div>

                <form action="#">

                  <div class="mb-3">
                    <label for="emailaddress" class="form-label">Endereço de e-mail</label>
                    <input class="form-control" type="email" id="emailaddress" required=""
                      placeholder="Entre seu email">
                  </div>

                  <div class="mb-3">
                    <a href="#" class="text-muted float-end"><small>Esqueci minha senha</small></a>
                    <label for="password" class="form-label">Senha</label>
                    <div class="input-group input-group-merge">
                      <input type="password" id="password" class="form-control" placeholder="Digite sua senha">
                      <div class="input-group-text" data-password="false">
                        <span class="password-eye"></span>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-primary" type="button" @click="this.$router.push('dashboard')">Acessar</button>
                  </div>

                </form>
              </div> <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="row mt-3">
              <div class="col-12 text-center">
                <p class="text-muted">Quero fazer a diferença
                  <a href="#register" class="text-muted ms-1">
                    <b>Criar minha conta</b>
                  </a>
                </p>
              </div> <!-- end col -->
            </div>
            <!-- end row -->

          </div> <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end page -->
  </div>
</template>