<script>
  import BarComponent from '@/components/BarComponent.vue';
  import MenuComponent from '@/components/MenuComponent.vue';

  export default {
    mixins: [],
    components: {
      BarComponent,
      MenuComponent
    },
    methods: {
    },
    data() {
      return {
      }
    },
    mounted() {
    }
  }

</script>

<template>

  <!-- Begin page -->
  <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <menu-component></menu-component>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

      <div class="content">
        <bar-component></bar-component>

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-11">
              <div class="page-title-box">
                <h4 class="page-title">Olá Fulano da Silva</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-11">
              <div class="card">
                <div class="card-body">

                  <!-- Steps Information -->
                  <div class="tab-content">

                    <!-- Billing Content-->
                    <div class="tab-pane show active" id="billing-information">
                      <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-12">
                          <h4 class="mt-2">MEU CADASTRO</h4>
                          
                          <form>
                            <div class="row">
                              <div class="col-12">
                                <div class="mb-3 mt-3">
                                  <label for="billing-address" class="form-label mb-2">Endereço</label>
                                  <input class="form-control" type="text" placeholder="Enter full address"
                                    id="billing-address">
                                </div>

                                <div class="mb-3 mt-3">
                                  <label for="billing-address" class="form-label mb-2">Contato</label>
                                  <input class="form-control" type="text" placeholder="Enter full address"
                                    id="billing-address">
                                </div>

                                <div class="mb-3 mt-3">
                                  <label for="billing-address" class="form-label mb-2">Email</label>
                                  <input readonly class="form-control" type="email" placeholder="Enter full address"
                                    id="billing-address">
                                </div>

                                <div class="mb-3 mt-3">
                                  <label for="billing-address" class="form-label mb-2">Senha</label>
                                  <input readonly class="form-control" type="password" value="123456" id="billing-address">
                                  <small id="emailHelp" class="form-text text-muted">Para alterar sua senha <a href="#">Clique aqui</a></small>
                                </div>

                                <div>
                                  <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                              </div>
                            </div> <!-- end row -->

                          </form>
                        </div>
                      </div> <!-- end row-->
                    </div>

                  </div>

                </div> <!-- end card-body-->
              </div> <!-- end card-->
            </div> <!-- end col -->
          </div>
          <!-- end row-->

        </div> <!-- container -->

      </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


  </div>
</template>

<style>
  .endereco {
    text-wrap: wrap;
  }
</style>