<script>
  import StartupMixin from '../mixin/StartupMixin.js';
  import BarComponent from '@/components/BarComponent.vue';
  import MenuComponent from '@/components/MenuComponent.vue';

  export default {
    mixins: [],
    components: {
      BarComponent,
      MenuComponent
    },
    data() {
      return {
        produtos: [
          {
            type: 'garrafa PET',
            quantity: 0,
            data: null,
            terms: {
              cleanProduct: false,
              appointmentTime: false,
              description: null
            }
          }
        ]
      }
    },
    mounted() {

    },
    methods: {
      
    },

  }
</script>

<template>
  <!-- Begin page -->
  <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <menu-component></menu-component>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page pt-0">
      <div class="content w-100">
        <!-- Topbar Start -->
        <bar-component></bar-component>
        <!-- end Topbar -->

        <!-- Start Content-->
        <div class="container-fluid d-flex justify-content-center" style="flex-direction: column;">

          <div class="row">
              <div class="page-title-box col-12 d-flex justify-content-start">
                <h4 class="page-title">Minhas vendas <a href="javascript:void(0)" @click='this.produtos.push({"type": "garrafa PET", "quantity":0,"terms":{"cleanProduct":false,"appointmentTime":false,"description":null}})' class="btn btn-success btn-sm ms-3">Adicionar</a></h4>
              </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10">
              <!-- tasks panel -->
              <div class="mt-2 mb-4">

                <div class="row" v-for="(produto, index) in produtos">
                  <div class="col-11">
                    <h5 class="m-0 pb-2">
                      <a class="text-dark" data-bs-toggle="collapse" :href="'#todayTasks-' + index" role="button" aria-expanded="false"
                        :aria-controls="'todayTasks-' + index">
                        <i class='uil uil-angle-down font-18'></i>Estou vendendo {{produto.quantity}} unidades de {{produto.type}} entrega para: {{produto.data || 'não definido'}}
                      </a>
                    </h5>
                  </div>

                  <div class="col-1">
                      <div class="dropdown card-widgets">
                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class='uil uil-ellipsis-h'></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <!-- <a href="javascript:void(0);" class="dropdown-item">
                            <i class='uil uil-file-upload me-1'></i>Attachment
                          </a>
                          <a href="javascript:void(0);" class="dropdown-item">
                            <i class='uil uil-edit me-1'></i>Edit
                          </a>
                          <a href="javascript:void(0);" class="dropdown-item">
                            <i class='uil uil-file-copy-alt me-1'></i>Mark as Duplicate
                          </a>
                          <div class="dropdown-divider"></div> -->
                          <a href="javascript:void(0);" @click="this.produtos = this.produtos.filter((x, i) => i != index) " class="dropdown-item text-danger">
                            <i class='uil uil-trash-alt me-1'></i>Remover venda
                          </a>
                        </div>
                      </div>
                  </div>

                  <div class="collapse show" :id="'todayTasks-' + index">
                    <div class="card">
                      <div class="card-body">
                       <!-- <div class="form-check float-start">
                          <input type="checkbox" class="form-check-input" id="completedCheck">
                          <label class="form-check-label" for="completedCheck">
                            Mark as completed
                          </label>
                        </div>-->  <!-- end form-check-->
  
                        <hr class="mt-4 mb-2" />
  
                        <div class="row">
                          <div class="col">
  
                            <!-- <h4>Draft the new contract document for sales team</h4> -->
  
                            <div class="row">
                              <div class="col-12">
                                <!-- start due date -->
                                <div class="d-flex">
                                  <i class='uil uil-schedule font-22 text-success me-1' data-provide="datepicker" data-date-format="d-m-yyyy">
                                    <input type="hidden" :id="'data-valor-' + index" onchange="this.dispatchEvent(new Event('teste'));" @teste="(event) => produto.data = event.target.value"/>
                                  </i>
                                  <div>
                                    <h5 class="mt-1 font-14">
                                      Data da coleta: {{produto.data || 'defina no calendário'}}
                                    </h5>
                                    
                                  </div>
                                </div>
                                <!-- end due date -->
                              </div> <!-- end col -->
  
                              <div class="col-12">
                                <label for="materials-qty" class="form-label">Quantidade de materiais</label>
                                <input class="form-control" type="number" min="0" v-on:change="(event) => {produto.quantity = event.target.value || 0;}" id="materials-qty" required=""
                                  placeholder="Exemplo: 10">
                              </div>
  
                            </div> <!-- end row -->
  
                            <!-- start sub tasks/checklists -->
                            <h5 class="mt-4 mb-2 font-16">Chequei todos os itens abaixo</h5>
                            <div class="form-check mt-1">
                              <input type="checkbox" class="form-check-input" id="checklist1">
                              <label class="form-check-label strikethrough" for="checklist1">
                                Só vendo bons produtos, garanto que não há conteúdo orgânico
                              </label>
                            </div>
  
                            <div class="form-check mt-1">
                              <input type="checkbox" class="form-check-input" id="checklist2">
                              <label class="form-check-label strikethrough" for="checklist2">
                                Estarei no horario agendado para ganhar meu $$
                              </label>
                            </div>
                            <!-- end sub tasks/checklists -->
  
                            <!-- start attachments -->
                            <h5 class="mt-4 mb-2 font-16">Galeria do meu produto</h5>
                            <div class="card mb-2 shadow-none border">
                              <div class="p-1">
                                <div class="row align-items-center">
                                  <div class="col-auto">
                                    <div class="avatar-sm">
                                      <span class="avatar-title rounded">
                                        Midia
                                      </span>
                                    </div>
                                  </div>
                                  <div class="col ps-0">
                                    <a href="javascript:void(0);" class="text-muted fw-bold">25_11_2023_0031.zip</a>
                                    <p class="mb-0">2.3 MB</p>
                                  </div>
                                  <div class="col-auto" id="tooltip-container9">
                                    <!-- Button -->
                                    <a href="javascript:void(0);" data-bs-container="#tooltip-container9"
                                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"
                                      class="btn btn-link text-muted btn-lg p-0">
                                      <i class='uil uil-cloud-download'></i>
                                    </a>
                                    <a href="javascript:void(0);" data-bs-container="#tooltip-container9"
                                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"
                                      class="btn btn-link text-danger btn-lg p-0">
                                      <i class='uil uil-multiply'></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- end attachments -->
  
                            <!-- comments -->
                            <div class="row mt-3">
                              <div class="col">

                                <h5 class="mb-2 font-16">Descrição adicional</h5>
  
                                <hr />

                                {{ produto.description ?  'Visão geral de sua descrição: ' + produto.description : 'Sem descrição'}}
  
                              </div> <!-- end col -->
                            </div> <!-- end row -->
  
                            <div class="row mt-2">
                              <div class="col">
                                <div class="border rounded">
                                  <form action="#" class="comment-area-box">
                                    <textarea v-model="produto.description" rows="3" class="form-control border-0 resize-none"
                                      placeholder="Olá vendedor sinta-se a vontade para inserir alguma descrição importante sobre seu produto aqui!"></textarea>
                                    <div class="p-2 bg-light">
                                      <button type="button" class="btn btn-sm btn-success"><i
                                        class='uil uil-message me-1'></i>Definir descrição</button>
                                    </div>
                                  </form>
                                </div> <!-- end .border-->
                              </div> <!-- end col-->
                            </div> <!-- end row-->
                            <!-- end comments -->
                          </div> <!-- end col -->
                        </div> <!-- end row-->
                      </div> <!-- end card-body -->
                    </div>
                  </div> <!-- end .collapse-->
                </div>
              </div> <!-- end .mt-2-->
            </div> <!-- end col -->
          </div>
          <!-- end row-->

        </div> <!-- container -->

      </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  </div>
  <!-- END wrapper -->

</template>

<style>
  body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) {
    min-height: unset;
  }
</style>