
<script>
  import StartupMixin from '@/mixin/StartupMixin.js';

  export default {
    //mixins: [StartupMixin],
    data() {
      return {

      }
    },
    mounted() {
    }
  }
</script>

<style>
  .navbar-custom
  {
    top: unset;
    bottom: 0 !important;
  }
  
  @media (max-width: 1250px) {
    .icones{
      justify-content: space-between; width: 85%;
    }
  }
</style>

<template>
  <div class="navbar-custom" style="padding-right: 0">
    <button class="button-menu-mobile open-left">
      <i class="mdi mdi-menu"></i>
    </button>
    
    <ul class="list-unstyled topbar-menu float-end mb-0 d-flex icones" style="">
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <i class="dripicons-bell noti-icon"></i>
          <span class="noti-icon-badge"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

          <!-- item-->
          <div class="dropdown-item noti-title px-3">
            <h5 class="m-0">
              <span class="float-end">
                <a href="javascript: void(0);" class="text-dark">
                  <small>Clear All</small>
                </a>
              </span>Notification
            </h5>
          </div>

          <div class="px-3" style="max-height: 300px;" data-simplebar>

            <h5 class="text-muted font-13 fw-normal mt-0">Today</h5>
            <!-- item-->
            <a href="javascript:void(0);"
              class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">
              <div class="card-body">
                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="notify-icon bg-primary">
                      <i class="mdi mdi-comment-account-outline"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-truncate ms-2">
                    <h5 class="noti-item-title fw-semibold font-14">Datacorp <small
                        class="fw-normal text-muted ms-1">1 min ago</small></h5>
                    <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on Admin</small>
                  </div>
                </div>
              </div>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
              <div class="card-body">
                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="notify-icon bg-info">
                      <i class="mdi mdi-account-plus"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-truncate ms-2">
                    <h5 class="noti-item-title fw-semibold font-14">Admin <small
                        class="fw-normal text-muted ms-1">1 hours ago</small></h5>
                    <small class="noti-item-subtitle text-muted">New user registered</small>
                  </div>
                </div>
              </div>
            </a>

            <h5 class="text-muted font-13 fw-normal mt-0">Yesterday</h5>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
              <div class="card-body">
                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="notify-icon">
                      <img src="/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" />
                    </div>
                  </div>
                  <div class="flex-grow-1 text-truncate ms-2">
                    <h5 class="noti-item-title fw-semibold font-14">Cristina Pride <small
                        class="fw-normal text-muted ms-1">1 day ago</small></h5>
                    <small class="noti-item-subtitle text-muted">Hi, How are you? What about our next
                      meeting</small>
                  </div>
                </div>
              </div>
            </a>

            <h5 class="text-muted font-13 fw-normal mt-0">30 Dec 2021</h5>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
              <div class="card-body">
                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="notify-icon bg-primary">
                      <i class="mdi mdi-comment-account-outline"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-truncate ms-2">
                    <h5 class="noti-item-title fw-semibold font-14">Datacorp</h5>
                    <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on Admin</small>
                  </div>
                </div>
              </div>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
              <div class="card-body">
                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <div class="notify-icon">
                      <img src="/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" />
                    </div>
                  </div>
                  <div class="flex-grow-1 text-truncate ms-2">
                    <h5 class="noti-item-title fw-semibold font-14">Karen Robinson</h5>
                    <small class="noti-item-subtitle text-muted">Wow ! this admin looks good and awesome
                      design</small>
                  </div>
                </div>
              </div>
            </a>

            <div class="text-center">
              <i class="mdi mdi-dots-circle mdi-spin text-muted h3 mt-0"></i>
            </div>
          </div>

          <!-- All-->
          <a href="javascript:void(0);"
            class="dropdown-item text-center text-primary notify-item border-top border-light py-2">
            View All
          </a>

        </div>
      </li>

      <li class="notification-list">
        <a class="nav-link end-bar-toggle" href="#/dashboard">
          <i class="mdi mdi-home noti-icon"></i>
        </a>
      </li>

      <li class="notification-list">
        <a class="nav-link end-bar-toggle" href="#venda-materiais">
          <i class="mdi mdi-recycle noti-icon"></i>
        </a>
      </li>

      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <span class="account-user-avatar">
            <!-- <img src="/images/users/avatar-0.jpg" alt="user-image" class="rounded-circle"> -->
            <i class="mdi mdi-account" style="font-size: 22px;"></i>
          </span>
          <span>
            <span class="account-user-name">Dominic Keller</span>
            <span class="account-position">Founder</span>
          </span>
        </a>

        <div
          class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
          <!-- item-->
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Bem vindo!</h6>
          </div>

          <!-- item-->
          <a href="#/user-profile" class="dropdown-item notify-item">
            <i class="mdi mdi-account-circle me-1"></i>
            <span>Minha conta</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="mdi mdi-lifebuoy me-1"></i>
            <span>Suporte</span>
          </a>

          <!-- item-->
          <a href="#login" class="dropdown-item notify-item">
            <i class="mdi mdi-logout me-1"></i>
            <span>Sair</span>
          </a>
        </div>
      </li>

    </ul>

  </div>
</template>
