<script>
  import StartupMixin from '@/mixin/StartupMixin.js';

  export default {
    //mixins: [StartupMixin],
    data() {
      return {

      }
    },
    mounted() {
    }
  }
</script>

<template>
  <div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
      <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="16">
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo_sm.png" alt="" height="16">
      </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="16">
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo_sm_dark.png" alt="" height="16">
      </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

      <!--- Sidemenu -->
      <ul class="side-nav">

        <!-- <li class="side-nav-title side-nav-item">Navegação</li>

        <li class="side-nav-item">
          <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards"
            class="side-nav-link">
            <i class="uil-home-alt"></i>
            <span class="badge bg-success float-end">2</span>
            <span> Atalhos (DEV)</span>
          </a>
          <div class="collapse" id="sidebarDashboards">
            <ul class="side-nav-second-level">
              <li>
                <a href="#register">Cadastro</a>
              </li>
              <li>
                <a href="#login">Login</a>
              </li>
            </ul>
          </div>
        </li> -->

        <li class="side-nav-title side-nav-item">Administração</li>

        <li class="side-nav-item">
          <a href="#register" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> Cadastro </span>
          </a>
        </li>

        <li class="side-nav-item">
          <a href="#login" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> Login </span>
          </a>
        </li>

        <li class="side-nav-item">
          <a href="#coleta-cliente" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> Coleta Cliente </span>
          </a>
        </li>

        <li class="side-nav-item">
          <a href="#venda-materiais" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> Vender Material </span>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->

  </div>
</template>