<template>
  <!-- <nav>
    <router-link to="/dashboard">Dashboard</router-link> |
    <router-link to="/login">Login</router-link> |
    <router-link to="/register">Cadastro</router-link> |
    <router-link to="/venda-materiais">Venda materiais</router-link>
  </nav>
  -->
  <router-view/>
</template>